{% extends "layout.html" %}

{% set pageId = "page-home" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    <div class="content ">
        <header>
            <img src="/extras-aula-1/icones/baterias.svg" alt="aqui eo logo mann">
            <!--logo lado esquerdo-->
            <a href="/create-point">cadastre um ponto de coleta<!--<span>→]</span>coloca icones ao lado --></a>
        </header>
        <main>
            <!--aqui eh como se fosse o documento principal-->
            <h1>ajudamos pessoas a encontrar pontos de coleta de forma eficiente</h1>
            <p class="red">Seu marktplace de coleta de residuos</p>
            <!--h3 letras pequenas-->
            <a href="#">
                <span></span>
                <strong>Pesquisar pontos de coleta</strong>
            </a>
            <!--referencia com o 'a'-->
        </main>
    </div>
{% endblock content %}

{% block modal %}
    {% include "partials/modal.html" %}
{% endblock modal %}

{% block scypts %}
    <script src="/styles/index.js"></script>
{% endblock scypts %}