<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <!--no form action, entre"" colocar para onde vai dps que terminar o form-->
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Aqui digite qual cidade procura">
                <!--placeholder= fica o nome de fundo numa caixa de txt-->
                <button><img src="icones/search.svg" alt="buscar"></button>
            </div>
        </form>
    </div>
</div>