/*root para definir variaveis, aqui => exemplo atalho de cor "color: var(--Litle-color); "nas boxxs*/
:root {
    --Litle-color: #110111;
    --primary-color: #c2d60d57;
}
* {/*asterisco = as confgs gerais, aqui resetando os espaços do navegador*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Yatra One', cursive;    /*fonte tirada do google*/
}
body {
    background-color: rgb(56, 59, 61);
    -webkit-font-smoothing: antialiased;
}
/*aqui todos h's vao ter fontes e cores padroes programaveis*/
h1, h2, h3, h4, h5, h6{
    color: var(--Litle-color);
}

     
     